@model IEnumerable<MvcBookStore.Models.Book>

@helper Truncate(string input, int length)
    {

        if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Magazyn</h2>
<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Autor
        </th>
        <th>
            Kategoria
        </th>
        <th>
            Tytuł
        </th>
        <th>
            Cena
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Truncate(item.Author.Name, 25)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre.Name)
    </td>
    <td>
        @Truncate(item.Title, 25)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.BookId}) |
        @Html.ActionLink("Szczegóły", "Details", new { id = item.BookId}) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.BookId})
    </td>
</tr>
}
</table>
